@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --normal: #a8a77a;
  --fire: #ee8130;
  --water: #6390f0;
  --electric: #f7d02c;
  --grass: #7ac74c;
  --ice: #96d9d6;
  --fighting: #c22e28;
  --poison: #a33ea1;
  --ground: #e2bf65;
  --flying: #a98ff3;
  --psychic: #f95587;
  --bug: #a6b91a;
  --rock: #b6a136;
  --ghost: #735797;
  --dragon: #6f35fc;
  --dark: #705746;
  --steel: #b7b7ce;
  --fairy: #d685ad;
}
.font-pokemon {
  font-family: "Press Start 2P", cursive;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #4f4f4f;
}
img {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.disabled {
  pointer-events: none;
}
.disabled svg {
  fill: rgba(0,0,0,0.5);
}
.type.normal {
  background-color: #a8a77a;
}
.type.fire {
  background-color: #ee8130;
}
.type.water {
  background-color: #6390f0;
}
.type.electric {
  background-color: #f7d02c;
}
.type.grass {
  background-color: #7ac74c;
}
.type.ice {
  background-color: #96d9d6;
}
.type.fighting {
  background-color: #c22e28;
}
.type.poison {
  background-color: #a33ea1;
}
.type.ground {
  background-color: #e2bf65;
}
.type.flying {
  background-color: #a98ff3;
}
.type.psychic {
  background-color: #f95587;
}
.type.bug {
  background-color: #a6b91a;
}
.type.rock {
  background-color: #b6a136;
}
.type.ghost {
  background-color: #735797;
}
.type.dragon {
  background-color: #6f35fc;
}
.type.dark {
  background-color: #705746;
}
.type.steel {
  background-color: #b7b7ce;
}
.type.fairy {
  background-color: #d685ad;
}
.type.inactive {
  opacity: 0.5;
}
.flag {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  transition: opacity 0.1s linear;
}
.flag:not(.active) {
  opacity: 0.5;
}
.flag:hover:not(.active) {
  cursor: pointer;
  opacity: 0.75;
}
.cell {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: rgba(217, 217, 217, 0.5);
  padding: 8px;
  margin: 0 16px 16px 0;
  transition: background-color 0.1s linear;
}

@media (min-width: 1200px) {
  .cell {
    width: 75px;
    height: 75px;
  }
}
.box-change-enter {
  opacity: 0;
}
.box-change-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.box-change-exit {
  opacity: 1;
}
.box-change-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
.ReactCollapse--collapse {
  transition: height 0.2s linear;
  margin: 16px 0 0 0;
  background-color: #ababab;
  border-radius: 8px;
}
div:nth-of-type(1).ReactCollapse--collapse {
  width: fit-content !important;
}
.ReactCollapse--collapse div {
  width: fit-content !important;
}